* {
    box-sizing: border-box;
}

.espaciado {
    height: 20px;
}

body {
    background-color: #ebebeb;
    font-family: Roboto;
}

main {
    padding: 5%;
    margin: auto;
    width: 90vw;
}

footer {
    background-color: white;
    padding: 5%
}

ul {
    padding: 0%;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

h2.footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.footer-2 {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    color: #666;
}

.nombre-producto {
    margin: 0 10px 0 30px;
    display: flex;
}

.espaciado-2 {
    height: 30px;
}

.espaciado-3 {
    height: 25px;
}

.espaciado-para-svgs {
    margin-bottom: -15px;
}

.encabezado {
    background-color: #EAC926;
    font-family: Roboto;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 10px;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    margin: 15px 10px 0px 10px
}

nav ul {
    display: flex;
}

nav ul div {
    margin: 0 5px
}

.search {
    align-self: center;
    justify-content: space-around;
}

.searchTerm {
    width: 25vw;
    height: 3vh;
    margin-left: 2vw;
}

.searchButton {
    width: 6vw;
    height: 3vh;
    margin-right: 2vw
}

.cuotas-flex {
    align-self: center;
    width: 25vw;
    text-align: right;
}

.tamano-foto {
    width: 30vw;
    height: 100%;
}

#center {
    text-align: center
}

#center-blue {
    color: white;
    text-align: center;
    background-color: #1259c3;
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    margin: auto
}

img {
    margin: auto;
    width: 100%;
}

article {
    margin: 15px;
    background-color: white;
}

.circle {
    background-color: white;
    border:1px solid #39b54a;    
    height: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 40px;
}

.carrito-de-compras {
    display: flex;
    margin: -20px 25px 0 0;
    justify-content: end;
}

.alineado-precio-descuento {
    display: flex;
    align-items: center;
}

.alineado-precio-descuento h2 {
    flex-grow: 70;
    margin: 0 0 0 30px;
}

.alineado-precio-descuento h3 {
    flex-grow: 30;
    margin: 0 10px 0 10px;
}

.descuento {
    color: #39b54a;
}

.linea-separadora {
    border-top: 1px solid #ebebeb;
}

nav {
    display: none;
}

.margin-top-image {
    margin-bottom: -5%;
}

form div {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
}

div input {
    width: 95%;
    border: none;
    border-radius: 3px;
    padding: 2%;
}

div input::placeholder {
    font-size: 14px;
}

input[type="radio"] {
    margin-left: 5%;
}

input[type="checkbox"] {
    margin-left: 5%;
}

li label {
    margin-left: 5%;
}

form ul li {
    margin-bottom: 5%;
}

div button {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    width: 12vw;
    height: 4vh;
    font-weight: bold;
    color: white;
} 

.login-button {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 4vh;
    font-weight: bold;
    color: white;
} 

.user-profile {
    width: 80%;
}
/* Although the title says 361px, it's extremelly small for nowadays phoness*/
@media (min-device-width: 574px) {
    .encabezado {
        padding-bottom: 0px;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 5px 20px 0px 20px;
    }

    .burger-menu {
        display: none;
    }

    .espaciado-3 {
        display: none;
    }

    .margin-top-image {
        margin-bottom: -5%;
    }
}

@media (min-device-width: 650px) {
    .encabezado {
        font-size: 14px;
        padding-bottom: 0px;
    }

    .fila-1 {
        display: flex;
    }

    .fila-2 {
        display: flex;
    }
}

@media (min-device-width: 1200px) {
    .encabezado {
        font-size: 16px;
        padding-bottom: 0px;
    }

    section {
        display: flex;
    }
}